@* @model IEnumerable<WebAppV2.Models.Product> *@
    @model Product
@{
    //Quitar para vista NO parcial
    Layout = "~/Views/Shared/Limpio.cshtml";

}

<div class="container" style="width:100%">
    <h2>Get product</h2>

    @* @using (Html.BeginForm("UpdateProduct", "Home", FormMethod.Post))
    {
        <input type="text" name="ProductName" value="" placeholder="productName" />
        <input type="text" name="ProductId" value="" placeholder="productId" />
        <input type="text" name="Stock" value="" placeholder="stock" />
        <input type="text" id="precioInput" name="Precio" value="" placeholder="precio" />
        <input type="text" name="Categoria" value="" placeholder="categoria" />
        <input type="text" name="Imagen" value="" placeholder="imagen" />
        <input type="text" name="Marca" value="" placeholder="marca" />
        <input type="text" name="Genero" value="" placeholder="genero" />
        <input class="btn btn-primary" type="submit" value="Get Product" />
    }
    @section Scripts {
        <script>
            $(document).ready(function () {

                $('#productForm').submit(function (event) {
                    event.preventDefault();
                    var precio = $('#precioInput').val().replace('.', ',');
                    $('#precioInput').val(precio);
                    this.submit();
                });

                $('#productForm').submit(function () {
                 

                    $(this).find(':input').each(function () {
                        // if ($(this).attr('name') === 'Precio') {
                        //     var value = $(this).val();
                        //     if (value) {
                        //         $(this).val(value.replace('.', ','));
                        //     }
                        // }
                        if ($(this).val() === '') {
                            $(this).val(null);
                        }
                    });
                });
            });
        </script>
    } *@

    @using (Html.BeginForm("UpdateProduct", "Home", FormMethod.Post, new { id = "productForm" }))
    {
        <input type="text" name="ProductName" value="" placeholder="productName" />
        <input type="text" name="ProductId" value="" placeholder="productId" />
        <input type="text" name="Stock" value="" placeholder="stock" />
        <input type="text" id="precioInput" name="Precio" value="" placeholder="precio" />
        <input type="text" name="Categoria" value="" placeholder="categoria" />
        <input type="text" name="Imagen" value="" placeholder="imagen" />
        <input type="text" name="Marca" value="" placeholder="marca" />
        <input type="text" name="Genero" value="" placeholder="genero" />
        <input class="btn btn-primary" type="submit" value="Get Product" />
    }

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#productForm').submit(function () {
                    $(this).find(':input').each(function () {
                        if ($(this).attr('name') === 'Precio') {
                            var value = $(this).val();
                            if (value) {
                                // Reemplazar comas por puntos en el valor del campo de precio
                                $(this).val(value.replace('.', ','));
                            }
                        }
                        if ($(this).val() === '') {
                            $(this).val(null);
                        }
                    });
                });
            });
        </script>
    }


    @if (Model != null && Model.ProductId != null)
    {
        // Product productById = ViewBag.ProductById;

        <table>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
            </tr>
            <tr>
                <td>
                    <img style="aspect-ratio:1/1" class="pic-1" width="100px" src=@Url.Content(@Model.Imagen)>
                </td>
                <img src=@Model.Imagen alt="" width="20px" />
                  <td>@Model.ProductName</td>
                <td>@Model.Precio</td>
                <td>@Model.Marca</td>
            </tr>
        </table>
    
    } 
    

     @if (Model != null)
    {
        // Product productById = ViewBag.ProductById;

        <table>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
            </tr>
            <tr>
                <td>
                    <img style="aspect-ratio:1/1" class="pic-1" width="100px" src=@Url.Content(@Model.Imagen)>
                </td>
                @*<img src=@Model.Imagen alt="" width="20px" /> *@
                 <td>@Model.ProductName</td>
                <td>@Model.Precio</td>
                <td>@Model.Marca</td>
            </tr>
        </table> 
    
    }

    @* @if (Model != null)
    {

        <table id="Table_Users" class="table table-striped mt-5" style="width:100%">
            <colgroup>
                <col style="width:33%">
                <col style="width:33%">
                <col style="width:33%">
            </colgroup>
            <thead>
                <tr>

                    <th class="bg-primary text-white fw-normal">
                        @Html.Label("Producto")
                    </th>
                    <th class="bg-primary text-white fw-normal">
                        @Html.Label("Nombre")
                    </th>
                    <th class="bg-primary text-white fw-normal">
                        @Html.Label("Precio")
                    </th>
                    <th class="bg-primary text-white fw-normal">
                        @Html.Label("Marca")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (WebAppV2.Models.Product oListItem in Model)
                {
                    <tr>
                        <td><img style="aspect-ratio:1/1" class="pic-1" width="100px" src=@Url.Content(@oListItem.Imagen)></td>
                        <td>@oListItem.ProductName</td>
                        <td>@oListItem.Precio</td>
                        <td>@oListItem.Marca</td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p class="text-danger">Producto no encontrado</p>
        
    } *@
    <!-- Aquí puedes mostrar los detalles del producto -->
    <!-- Aquí puedes mostrar los detalles del producto -->
    <!-- etc. -->
</div>